
<p id="notice" class="alert" role="alert"><%= notice %></p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Positions</h1>
</div>


<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Average cost</th>
      <th>Current value</th>
      <th>Eod value</th>
    </tr>
  </thead>

  <tbody id="position_table">
    <% @positions.each do |position| %>
      <%= render "/positions/row", {position: position} %>
    <% end %>
  </tbody>
</table>


