

<table  id="order_table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Side</th>
      <th>Symbol</th>
      <th>Quantity</th>
      <th class="d-none d-sm-table-cell">Price</th>
      <th class="d-none d-sm-table-cell">Price type</th>
      <th class="d-none d-sm-table-cell">Fill Status</th>
      <th class="d-none d-sm-table-cell">Filled qty</th>
      <th class="d-none d-sm-table-cell">Open qty</th>
      <th class="d-none d-sm-table-cell">Status</th>
    </tr>
  </thead>

  <tbody id="order_table_body">
    <% orders.each do |order| %>
      <%=render "/orders/row", {order: order}%>
    <% end %>
  </tbody>
</table>


