
<p id="notice" class="alert" role="alert"><%= notice %></p>


<div id="all_orders">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Orders</h1>
    </div>

    <%= render "/orders/index", {orders: @orders} %>
</div>