

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Trades</h1>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th class="d-none d-sm-table-cell">Internal Id</th>      
      <th>Symbol</th>
      <th>Side</th>
      <th class="d-none d-sm-table-cell">Quantity</th>
      <th class="d-none d-sm-table-cell">Price</th>
      <th class="d-none d-sm-table-cell">Buyer</th>
      <th class="d-none d-sm-table-cell">At</th>
      
      <th class="d-none d-sm-table-cell">Order</th>
      <th class="d-none d-sm-table-cell">Counterparty Order</th>
      
    </tr>
  </thead>

  <tbody id="trade_table">
    <% @trades.each do |trade| %>
      <%=render "/trades/row", {trade:trade}%>
    <% end %>
  </tbody>
</table>


