

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Trades</h1>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      
      <th>Symbol</th>
      <th>Side</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Buyer</th>
      <th>At</th>
      
      <th>Order</th>
      <th>Counterparty Order</th>
      
    </tr>
  </thead>

  <tbody id="trade_table">
    <% @trades.each do |trade| %>
      <%=render "/trades/row", {trade:trade}%>
    <% end %>
  </tbody>
</table>


