

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Trades</h1>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="d-none d-sm-table-cell">Internal Id</th>      
      <th class="d-none d-sm-table-cell">Trader</th> 
      <th class="d-none d-sm-table-cell">Price</th>      
      <th class="d-none d-sm-table-cell">Quantity</th>
      <th>Side</th>
      <th>Id</th>  
      <th>Side</th>
      <th class="d-none d-sm-table-cell">Quantity</th>
      <th class="d-none d-sm-table-cell">Price</th>      
      <th class="d-none d-sm-table-cell">Trader</th>
      <th class="d-none d-sm-table-cell">Internal Id</th>            
    </tr>
  </thead>

  <tbody id="trade_table">
   
  </tbody>
</table>


